<div>
    <div class="flex justify-content-between">
        <h2>Detalle de producto {{title}}</h2>
        <p class="h2 text-info fw-bold">{{price}}</p>
    </div>
    <p>{{description}}</p>
    <p>{{code}}</p>
    <p>{{stock}}</p>
    <p>{{category}}</p>
    <button class='btn btn-info text-light fw-medium' onclick="addToCart('{{_id}}')">Agregar al carrito</button>
</div>
<script src="/js/index.js"></script>
