<div>
    <form id="form" class=" d-flex justify-content-center">
        <div class="w-75 my-3">
            <h1 class="text-info">Crear un nuevo producto</h1>
            <div class="row">
                <div class="mb-3 col">
                    <label for="title" class="form-label">Nombre</label>
                    <input name="title" id="title" type="text" alt="Nombre" class="form-control">
                </div>
                <div class="mb-3 col">
                    <label for="price">Precio</label>
                    <input name="price" id="price" type="number" alt="Precio" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col">
                    <label for="stock" class="form-label">Stock</label>
                    <input name="stock" id="stock" type="number" alt="Stock" class="form-control">
                </div>            
                <div class="mb-3 col">
                    <label for="code" class="form-label">Código</label>
                    <input name="code" id="code" type="text" alt="Código" class="form-control">
                </div>
            </div>
            <div class="mb-3">
                <label for="description">Descripción</label>
                <textarea class="form-control" placeholder="Descripción del producto..." name="description"  id="description"></textarea>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Categoría</label>
                <select name="category" class="form-select">
                    <option value="laptops" id="laptops" selected>Laptops</option>
                    <option value="smartphones" id="smartphones">Smartphones</option>
                    <option value="tv" id="tv">TV</option>
                </select>
            </div>
            <div class="d-flex justify-content-end w-100">
                <button class="btn btn-success">Crear</button>

            </div>
        </div>
    </form>
    <h2 class="text-info mx-2 h2">Lista de productos</h2>
    {{#if isValid}}
        <div id="productList">
            {{#each docs}}
                <div class="m-4 p-3 shadow rounded">
                    <div class="d-flex-justify-content-between">
                        <h3 class="fw-normal">{{this.title}}</h3>
                        <h3 class="text-info fw-normal">{{this.price}}</h3>
                    </div>
                    <p>{{description}}</p>
                    <p class="small text-body-secondary">{{this.category}}</p>
                    <div class="flex justify content end">
                        <a class='btn btn-info text-light fw-medium' href="http://localhost:8080/products/{{this._id}}">Ver más</a>
                    </div>
                </div>
            {{/each}}
        </div>
    <div>
        {{#if hasPrevPage}}
        <a href={{this.prevLink}}>← Anterior</a>
        {{/if}}
            &nbsp;
            {{this.page}}
            &nbsp;
        {{#if hasNextPage}}
        <a href={{this.nextLink}}>Siguiente →</a>
        {{/if}}
    </div>
    {{else}}
    <h2>No hay productos para mostrar</h2>
    {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>